.mantine-11nsbuq {
  gap: 0;
  border-top: 0.5px solid rgb(46, 46, 46);
  margin: 0;
}

.mantine-7t1ey3.__mantine-ref-tabActive {
  border-radius: 0;
}

.mantine-j7do8t:hover {
  background-color: grey;
  border-radius: 0;
}
