.Profile {
    position: relative;
    display: grid;
    grid-template-columns: 23rem auto 27rem;
    gap: 1rem;
}

.Profile-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    height: 96vh;
}

@media only screen and (max-width: 500px) {
    .Profile-center{
        margin-top: 0px;
        gap: 0rem;
        height: 93vh;
    }
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Profile-post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 400px;
}

@media only screen and (max-width: 500px) {
    .Profile-post {
        gap: 0;
    }
}

@media only screen and (max-width: 1600px) {
    .Profile {
        grid-template-columns: auto 27rem;
    }
}

@media only screen and (max-width: 1200px) {
    .Profile {
        grid-template-columns: auto;
    }
}

.loader-post {
    display: flex;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background);
}
.loader-container{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .loader-container {
        height: 40px;
    }
}


@media only screen and (max-width: 500px) {
    .loader-post{
        border-radius: 0;
    }
}
