.LogoSearch{
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
}

.Search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px 10px;
    float: right;
}

.Search>input{
    background-color: transparent;
    border:none;
    outline: none;
}

.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--buttonBg);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.s-icon:hover{
    cursor: pointer;
}