.Profile-Modal{
      background-color: var(--card-background);
      color: var(--white);
      width: 35%;
      border-radius: 20px;
      z-index: 4;
}

.area{
      color: var(--white);
}

@media only screen and (max-width: 1600px) {
      .Profile-Modal{
            width: 80%;  
      }
}

@media only screen and (max-width: 600px) {
      .Profile-Modal{
            width: 100%;  
            padding: 10px;
      }
}