.Post-Modal{
      background-color: var(--card-background);
      color: var(--white);
      width: 55%;
      border-radius: 20px;
}


@media only screen and (max-width: 1600px) {
      .Post-Modal{
            width: 80%;  
      }
}

@media only screen and (max-width: 600px) {
      .Post-Modal{
            width: 100%;  
            padding: 10px;
      }
}