.Home{
    position: relative;
    display: grid;
    grid-template-columns: 23rem auto 27rem;
    gap: 1rem;
}

@media only screen and (max-width: 1600px) {
    .Home {
        grid-template-columns: auto 27rem;
    }
}

@media only screen and (max-width: 1200px) {
    .Home {
        grid-template-columns: auto;
        height: 100vh;
    }
}