.Post{
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius: .8rem;
    /* gap: 1rem; */
}
.Post-Icon{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    color: var(--white);
}

.Post-Icon-Liked{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    color:  var(--liked);
}

.Post-Icon:hover{
    color: var(--shedule);
}
.Header{
    padding: .8rem .9rem;
    display: flex;
    flex-direction:row;
    gap: 1rem;
    align-items: center;
}

.Header-Image{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.Header>span{
    font-size: 16px;
}

.Infos{
    display: flex;
    flex-direction: column;
    padding: .8rem 1rem;
    gap: .5rem;
}

.image{
    position: relative;
}

.rocket{
    position: absolute;
}
.Post>div>img{
    width: 100%;
    /* max-height: 20rem; */
    object-fit: cover;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    /*
     margin-bottom: 10px; */
}

.Details{
    margin-top: 10px;
}

.Comments>span{
    font-size: 14px;
}

.line{
    width: 100%;
}

.show-more{
    font-size: 15px;
    cursor: pointer;
    color: rgb(192, 192, 192);
}

.show-more:hover{
    color: rgb(1, 175, 255);
}
.Details>span{
    font-size: 16px;
}

.Header-Comments{
    margin: 0;
}

.Send{
    padding: 15px;
}

.mantine-rjykrt {
    background-color: var(--card-background);
    border: 1px solid var(--main-background);
    border-radius: 20px;
    color: var(--white);
}



